@font-face {
  font-family: 'icomoon';
  src:  url('./icomoon.eot?mt63ug');
  src:  url('./icomoon.eot?mt63ug#iefix') format('embedded-opentype'),
    url('./icomoon.ttf?mt63ug') format('truetype'),
    url('./icomoon.woff?mt63ug') format('woff'),
    url('./icomoon.svg?mt63ug#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-right:before {
  content: "\e915";
}
