@font-face {
  font-family: 'icomoon';
  src:  url('./icomoon.eot?u1ki2');
  src:  url('./icomoon.eot?u1ki2#iefix') format('embedded-opentype'),
    url('./icomoon.ttf?u1ki2') format('truetype'),
    url('./icomoon.woff?u1ki2') format('woff'),
    url('./icomoon.svg?u1ki2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading .path1:before {
  content: "\e927";
  color: rgb(233, 233, 233);
}
.icon-loading .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(152, 150, 151);
}
.icon-loading .path3:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(155, 153, 154);
}
.icon-loading .path4:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(163, 161, 162);
}
.icon-loading .path5:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(171, 169, 170);
}
.icon-loading .path6:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(178, 178, 178);
}
.icon-loading .path7:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(186, 184, 185);
}
.icon-loading .path8:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(194, 192, 193);
}
.icon-loading .path9:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(203, 203, 203);
}
.icon-loading .path10:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(210, 210, 210);
}
.icon-loading .path11:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(218, 218, 218);
}
.icon-loading .path12:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(226, 226, 226);
}
.icon-cart:before {
  content: "\e900";
}
.icon-envelope:before {
  content: "\e901";
}
.icon-info:before {
  content: "\e902";
}
.icon-lamp:before {
  content: "\e903";
}
.icon-member:before {
  content: "\e904";
}
.icon-scan:before {
  content: "\e905";
}
.icon-setting:before {
  content: "\e906";
}
.icon-favor-hollow:before {
  content: "\e907";
}
.icon-favor:before {
  content: "\e908";
}
.icon-order-loop:before {
  content: "\e909";
}
.icon-pencil:before {
  content: "\e90a";
}
.icon-praise:before {
  content: "\e90b";
}
.icon-shuffle-loop:before {
  content: "\e90c";
}
.icon-single-loop:before {
  content: "\e90d";
}
.icon-song-lists:before {
  content: "\e90e";
  color: #666;
}
.icon-account:before {
  content: "\e90f";
}
.icon-back:before {
  content: "\e910";
}
.icon-comment:before {
  content: "\e911";
}
.icon-correct:before {
  content: "\e912";
}
.icon-cross:before {
  content: "\e913";
}
.icon-error:before {
  content: "\e914";
}
.icon-expand:before {
  content: "\e915";
}
.icon-friends:before {
  content: "\e916";
}
.icon-lock:before {
  content: "\e917";
}
.icon-logo:before {
  content: "\e918";
}
.icon-next:before {
  content: "\e919";
}
.icon-note-2:before {
  content: "\e91a";
}
.icon-note:before {
  content: "\e91b";
}
.icon-option:before {
  content: "\e91c";
}
.icon-player:before {
  content: "\e91d";
}
.icon-prev:before {
  content: "\e91e";
}
.icon-search:before {
  content: "\e91f";
}
.icon-share:before {
  content: "\e920";
}
.icon-singer:before {
  content: "\e921";
}
.icon-start:before {
  content: "\e922";
}
.icon-stop:before {
  content: "\e923";
}
.icon-time:before {
  content: "\e924";
}
.icon-trumpet:before {
  content: "\e925";
}
.icon-user:before {
  content: "\e926";
}
